<script language="JavaScript" type="text/javascript">
function jabber(x) {
    var name = "lukas";
    var mittelwert = Math.pow(2,6);
    var mitteldarstellung = String.fromCharCode(mittelwert);
    var gruppe = "evangelisten";
    var land = "de";
    var protokoll = x
    var ausgabe = protokoll + name + mitteldarstellung + gruppe + "." + land;
    return ausgabe;
}
function xmpp(x) {
    location.href=(jabber(x));
}
function element(x) {
    var name = "markus";
    var mittelwert = Math.pow(2,6);
    var mitteldarstellung = String.fromCharCode(mittelwert);
    var gruppe = "evangelisten";
    var land = "de";
    var protokoll = x
    var ausgabe = mitteldarstellung + name + ":" + gruppe + "." + land;
    return ausgabe;
}
function matrix(x) {
    location.href=jabber(x);
}
</script>